*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Comfortaa', sans-serif !important;
}

body, html{
    overflow-x: hidden;
}

.navbar{
    background: rgb(105, 0, 105) !important;
}

.bannerInicio{
    width: 100%;
    height: 100vh;
    background-image: url(images/bannerInicio.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-inicio{
    text-align: center;
    color: white !important;
    font-weight: bolder !important;
}

.personajes-h2{
    text-align: center;
    text-decoration: underline;
    margin: 3rem 0rem 3rem 0rem;
}

#myModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff !important;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content !important;
}

#modalContent{
    display: flex;
}

#modalContent ul{
    margin-left: 1rem;
}

#modalContent ul li{
    margin-bottom: 1rem;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

#listaPersonajes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    margin: 1rem;
}

@media (max-width: 480px) {
    #listaPersonajes {
        grid-template-columns: 1fr; 
    }
}

@media (min-width: 481px) and (max-width: 876px) {
    #listaPersonajes {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 877px) and (max-width: 1023px) {
    #listaPersonajes {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 1024px) {
    #listaPersonajes {
        grid-template-columns: repeat(4, 1fr); 
    }
}

.card-title{
    margin: 1rem 0 2rem 0 !important;
}




footer{
    background: rgb(105, 0, 105);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    align-items: center;
}

footer p{
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
}

footer img{
    width: 100px;
    height: 100%;
}

footer ul{
    margin-bottom: 0rem !important;
}

@media (max-width: 549px) {
    footer{
        flex-direction: column-reverse;
    }

    footer img{
        margin-top: 2rem;
    }
}






.nosotros{
    margin: 8rem 6rem 4rem 6rem;
}

.nosotros h2{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.nosotros1, .nosotros2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.nosotros2{
    flex-direction: row-reverse;
}

.nosotros1-content, .nosotros2-content {
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: -1px 1px 60px -20px rgba(0, 0, 0, 0.20);
}

.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}

@media screen and (max-width: 850px){
    .nosotros{
        margin: 4rem 2rem;
    }

    .nosotros h2{
        font-size: 2rem;
    }

    .nosotros1, .nosotros2{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .nosotros1-content, .nosotros2-content{
        width: 100%;
        margin: 2rem 0;
    }

    .image{
        width: 100%;
        margin: 2rem 0;
    }

    .image img{
        height: 250px;
    }

}